@model IEnumerable<CarParking.Models.KhachHang>

@{
    ViewData["Title"] = "Checked In";
}

<h1 class="custom-title">Xe Trong Bãi</h1>


<link rel="stylesheet" type="text/css" href="~/css/Checkin.css">
<style>

    .table {
        border-collapse: collapse;
        width: 100%;
    }

        .table th, .table td {
            border: 1px solid #dee2e6; /* Màu đen cho đường kẻ */
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2; /* Màu nền cho tiêu đề */
        }

            .table th:last-child, .table td:last-child {
                border-right: none;
            }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaXe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaiXe_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaXe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaiXe_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }
    </tbody>
</table>

