@model IEnumerable<CarParking.Models.KhachHang>

@{
    ViewData["Title"] = "Checked Out";
}
<link rel="stylesheet" type="text/css" href="~/css/Checkout.css">
@*==================================================================================================*@
<h1 class ="custom-title">Xe Đã Ra</h1>
@{
    int totalDay = 0;
    foreach (var item in Model)
    {
        if (item.timeOut.Value.Date == DateTime.Now.Date)
        {
            totalDay += item.Total;
        }
    }
}
<table class="table">
    <thead>
        <tr>
            <th style="background-color: white;border:none"></th>
            <th style="background-color: white;border:none"></th>
            <th style="font-size: 28px;text-align: right;background-color:cornflowerblue">Doanh thu theo ngày:</th>
            <th style="font-size: 28px;background-color:cornflowerblue"  colspan="2">@(totalDay.ToString("n0"))</th>
        </tr>
        <tr>
            <th style="width: 20%">
                @Html.DisplayNameFor(model => model.MaXe)
            </th>
            <th style ="width: 25%">
                @Html.DisplayNameFor(model => model.timeIn)
            </th>
            <th style="width: 25%">
                @Html.DisplayNameFor(model => model.timeOut)
            </th>
            <th style="width: 15%">
                @Html.DisplayNameFor(model => model.BaiXe_Id)
            </th>
            <th style="width: 15%">
                @Html.DisplayNameFor(model => model.Total)
            </th>           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaXe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaiXe_Id)
            </td>
            <td>
                    @(item.Total.ToString("n0"))
            </td>
        </tr>
}
    </tbody>
</table>
