@model IEnumerable<CarParking.Models.KhachHang>

@{
    ViewData["Title"] = "Checked In";
}
<link rel="stylesheet" type="text/css" href="~/css/Checkin.css">
@*==================================================================================================*@
<h1 class="custom-title">Xe Trong Bãi</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaXe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaiXe_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaXe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaiXe_Id)
                </td>
                <td>
                    @(item.Total.ToString("n0"))
                </td>
            </tr>
        }
    </tbody>
</table>

